# Capstone project - Analytics in agriculture

### In this file, we can find the ETL process that our project follows to go from the raw data located in 'data/' to the curated data stored in our rdbms. For this first version the rdbms will be PostgreSQL

In [19]:
import psycopg2
from psycopg2 import extras
import pandas as pd
import time
import configparser
import json

# 1. Extraction

### We are not starting from the very first stage. The extraction phase begins when downloading the data from the database, but since this first step needs to be done yearly due to de refresh schedule that this data is following, we did a manual step before the one described below (Manual step: download files > uncompress files)

### After the short explanation, we proceed with the extraction of the data. The data that our source provides are csv files. Since, the data is completely untouched, we will need to select the files/tables that are useful for our project and rearrange the structure of the columns because as we will see during the etl, the structure given is optimized for storage but not for a more advanced data model.

In [2]:
crops_data = pd.read_csv("data/Production_Crops_E_All_Data.csv", encoding="ANSI")
trade_data = pd.read_csv("data/Trade_Crops_Livestock_E_All_Data.csv", encoding="ANSI")
crops_flags = pd.read_csv("data/Production_Crops_E_Flags.csv", encoding="ANSI")
trade_flags = pd.read_csv("data/Trade_Crops_Livestock_E_Flags.csv", encoding="ANSI")

with open("credentials/redshift.json", 'r') as j:
    redshift = json.loads(j.read())

# Deletes temporary variable j
del j

C:\Users\Alberto\AppData\Roaming\Python\Python39\site-packages\IPython\core\interactiveshell.py:3155: DtypeWarning: Columns (8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50,52,54,56) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

# 2. Transformation

## Creation of dimension tables

In [3]:
dim_countries = crops_data[["Area Code", "Area"]].append(trade_data[["Area Code", "Area"]]).drop_duplicates()
dim_items = crops_data[["Item Code", "Item"]].drop_duplicates()
dim_elements = crops_data[["Element Code", "Element"]].append(trade_data[["Element Code", "Element"]]).drop_duplicates()
dim_flags = crops_flags.append(trade_flags).drop_duplicates()

#Delete original flags dataframes
del crops_flags, trade_flags

## Clean dataframes

### Trade data has mixed crops and products data. to increase the performance of the next steps, first we will need to remove the rows that are not crops.

### Dimensions contain lots of duplciated data, therefore they will be trimmed as well

In [4]:
trade_data = trade_data[trade_data["Item Code"].isin(dim_items["Item Code"])]
#temp_items = trade_data["Item"].drop_duplicates()
#temp_items

## Modify Flags dataframe

### Flags table has "blank" primary key string associated to "Official data", but in the  fact table the value is blank. So it is needed to change the string "blank" to a blank string

In [5]:
dim_flags = dim_flags.replace("<blank>", "")

## rearrange the dataframe structures and creation of the fact table

### The design of this structure, will make the data grow horizontally, but for our SQL schema we can't keep a schema that is growing into this direction, so to rearrange the tables we have divided the data into 2 groups: keys and values. 
* keys: data that will be repeated after each iteration and serves as an identifier for the values
* values: data reported yearly and makes the dataframe grow each year 2 columns more

In [6]:
start = time.time()

raw_crop_keys = crops_data[["Area Code", "Item Code", "Element Code", "Unit"]]
raw_crop_values = crops_data.drop(labels = ["Area Code", "Area", "Item Code", "Item", "Element Code", "Element", "Unit"], axis = 1)

raw_trade_keys = trade_data[["Area Code", "Item Code", "Element Code", "Unit"]]
raw_trade_values = trade_data.drop(labels = ["Area Code", "Area", "Item Code", "Item", "Element Code", "Element", "Unit"], axis = 1)

if(len(raw_crop_values.columns) % 2 == 1):
    print(raw_crop_values.columns)
    raise Exception("Unexpected column found, columns number must be even as they consist of pairs. Please check out the dataframe structure")

if(len(raw_trade_values.columns) % 2 == 1):
    print(raw_trade_values.columns)
    raise Exception("Unexpected column found, columns number must be even as they consist of pairs. Please check out the dataframe structure")

fact_crops_data = pd.DataFrame(columns = ["Area Code", "Item Code", "Element Code", "Unit", "Year", "Value", "Flag"])

fact_trade_data = pd.DataFrame(columns = ["Area Code", "Item Code", "Element Code", "Unit", "Year", "Value", "Flag"])

for A, B in zip(*[iter(raw_crop_values)]*2):
    temp_aux_crops = raw_crop_keys.append(raw_crop_values[[A, B]]).rename(columns = {A: "Value", B: "Flag"})
    print("evaluated from crops_data: ", A)
    fact_crops_data = fact_crops_data.append(temp_aux_crops)

for A, B in zip(*[iter(raw_trade_values)]*2):
    temp_aux_trade = raw_trade_keys.append(raw_trade_values[[A, B]]).rename(columns = {A: "Value", B: "Flag"})
    print("evaluated from trade_data: ", A)
    fact_trade_data = fact_trade_data.append(temp_aux_trade)

end = time.time()

# Delete temporary variables
del A, B, raw_crop_keys, raw_crop_values, raw_trade_keys, raw_trade_values

# Delete original dataframes
del crops_data, trade_data

print("elapsed time: ", end - start)

# Delete chrono temporary variables
del start, end

evaluated from crops_data:  Y1961
evaluated from crops_data:  Y1962
evaluated from crops_data:  Y1963
evaluated from crops_data:  Y1964
evaluated from crops_data:  Y1965
evaluated from crops_data:  Y1966
evaluated from crops_data:  Y1967
evaluated from crops_data:  Y1968
evaluated from crops_data:  Y1969
evaluated from crops_data:  Y1970
evaluated from crops_data:  Y1971
evaluated from crops_data:  Y1972
evaluated from crops_data:  Y1973
evaluated from crops_data:  Y1974
evaluated from crops_data:  Y1975
evaluated from crops_data:  Y1976
evaluated from crops_data:  Y1977
evaluated from crops_data:  Y1978
evaluated from crops_data:  Y1979
evaluated from crops_data:  Y1980
evaluated from crops_data:  Y1981
evaluated from crops_data:  Y1982
evaluated from crops_data:  Y1983
evaluated from crops_data:  Y1984
evaluated from crops_data:  Y1985
evaluated from crops_data:  Y1986
evaluated from crops_data:  Y1987
evaluated from crops_data:  Y1988
evaluated from crops_data:  Y1989
evaluated from crops_data:  Y1990
evaluated from crops_data:  Y1991
evaluated from crops_data:  Y1992
evaluated from crops_data:  Y1993
evaluated from crops_data:  Y1994
evaluated from crops_data:  Y1995
evaluated from crops_data:  Y1996
evaluated from crops_data:  Y1997
evaluated from crops_data:  Y1998
evaluated from crops_data:  Y1999
evaluated from crops_data:  Y2000
evaluated from crops_data:  Y2001
evaluated from crops_data:  Y2002
evaluated from crops_data:  Y2003
evaluated from crops_data:  Y2004
evaluated from crops_data:  Y2005
evaluated from crops_data:  Y2006
evaluated from crops_data:  Y2007
evaluated from crops_data:  Y2008
evaluated from crops_data:  Y2009
evaluated from crops_data:  Y2010
evaluated from crops_data:  Y2011
evaluated from crops_data:  Y2012
evaluated from crops_data:  Y2013
evaluated from crops_data:  Y2014
evaluated from crops_data:  Y2015
evaluated from crops_data:  Y2016
evaluated from crops_data:  Y2017
evaluated from crops_data:  Y2018
evaluated from crops_data:  Y2019
evaluated from trade_data:  Y1961
evaluated from trade_data:  Y1962
evaluated from trade_data:  Y1963
evaluated from trade_data:  Y1964
evaluated from trade_data:  Y1965
evaluated from trade_data:  Y1966
evaluated from trade_data:  Y1967
evaluated from trade_data:  Y1968
evaluated from trade_data:  Y1969
evaluated from trade_data:  Y1970
evaluated from trade_data:  Y1971
evaluated from trade_data:  Y1972
evaluated from trade_data:  Y1973
evaluated from trade_data:  Y1974
evaluated from trade_data:  Y1975
evaluated from trade_data:  Y1976
evaluated from trade_data:  Y1977
evaluated from trade_data:  Y1978
evaluated from trade_data:  Y1979
evaluated from trade_data:  Y1980
evaluated from trade_data:  Y1981
evaluated from trade_data:  Y1982
evaluated from trade_data:  Y1983
evaluated from trade_data:  Y1984
evaluated from trade_data:  Y1985
evaluated from trade_data:  Y1986
evaluated from trade_data:  Y1987
evaluated from trade_data:  Y1988
evaluated from trade_data:  Y1989
evaluated from trade_data:  Y1990
evaluated from trade_data:  Y1991
evaluated from trade_data:  Y1992
evaluated from trade_data:  Y1993
evaluated from trade_data:  Y1994
evaluated from trade_data:  Y1995
evaluated from trade_data:  Y1996
evaluated from trade_data:  Y1997
evaluated from trade_data:  Y1998
evaluated from trade_data:  Y1999
evaluated from trade_data:  Y2000
evaluated from trade_data:  Y2001
evaluated from trade_data:  Y2002
evaluated from trade_data:  Y2003
evaluated from trade_data:  Y2004
evaluated from trade_data:  Y2005
evaluated from trade_data:  Y2006
evaluated from trade_data:  Y2007
evaluated from trade_data:  Y2008
evaluated from trade_data:  Y2009
evaluated from trade_data:  Y2010
evaluated from trade_data:  Y2011
evaluated from trade_data:  Y2012
evaluated from trade_data:  Y2013
evaluated from trade_data:  Y2014
evaluated from trade_data:  Y2015
evaluated from trade_data:  Y2016
evaluated from trade_data:  Y2017
evaluated from trade_data:  Y2018
evaluated from trade_data:  Y2019
elapsed time:  72.920001745224

# 3. Load

## Load the tables into our redshift cluster

In [7]:
conn = psycopg2.connect(f"host={redshift['endpoint']} dbname={redshift['database']} user={redshift['username']} password={redshift['password']} port={redshift['port']}")

In [58]:
cur = conn.cursor()
cur.execute("SET AUTOCOMMIT = TRUE;")

In [118]:
cur.execute("SELECT * FROM information_schema.tables WHERE table_schema = 'public'")
for row in cur.fetchall():
    print(row)

# Delete temporary value
del row

('dev', 'public', 'items', 'BASE TABLE', None, None, None, None, None)
('dev', 'public', 'flags', 'BASE TABLE', None, None, None, None, None)
('dev', 'public', 'elements', 'BASE TABLE', None, None, None, None, None)
('dev', 'public', 'countries', 'BASE TABLE', None, None, None, None, None)
('dev', 'public', 'fact_trade', 'BASE TABLE', None, None, None, None, None)
('dev', 'public', 'fact_crops', 'BASE TABLE', None, None, None, None, None)

In [153]:
# ONLY EXECUTE IF DATA IS WRONG

cur.execute("DROP TABLE IF EXISTS countries, elements, flags, items, fact_crops, fact_trade;")

In [154]:
# Create crops fact table if not exists
cur.execute("""
    CREATE TABLE IF NOT EXISTS fact_crops(
        Area_code int not null,
        Item_Code int not null,
        Element_Code int not null,
        Unit varchar(50),
        Year int not null,
        Value float,
        Flag varchar(25)
    );
""")

# Create trade fact table if not exists
cur.execute("""
    CREATE TABLE IF NOT EXISTS fact_trade(
        Area_code int not null,
        Item_Code int not null,
        Element_Code int not null,
        Unit varchar(50),
        Year int not null,
        Value float,
        Flag varchar(25)
    );
""")

# Create Countries dimension table if not exists
cur.execute("""
    CREATE TABLE IF NOT EXISTS countries(
        Area_Code int not null UNIQUE PRIMARY KEY,
        Area varchar(100)
    );
""")

# Create Elements dimension table if not exists
cur.execute("""
    CREATE TABLE IF NOT EXISTS elements(
        Element_Code int not null UNIQUE PRIMARY KEY,
        Element varchar(100)
    );
""")

# Create Flags dimension table if not exists
cur.execute("""
    CREATE TABLE IF NOT EXISTS flags(
        Flag varchar(25) UNIQUE PRIMARY KEY,
        Description varchar(100)
    );
""")

# Create Items dimension table if not exists
cur.execute("""
    CREATE TABLE IF NOT EXISTS items(
        Item_Code int not null UNIQUE PRIMARY KEY,
        Item varchar(100)
    );
""")

In [155]:
start = time.time()

try:
    psycopg2.extras.execute_values(cur, "INSERT INTO countries VALUES %s;", dim_countries.itertuples(index=False))
    
    psycopg2.extras.execute_values(cur, "INSERT INTO flags VALUES %s", dim_flags.itertuples(index=False))

    psycopg2.extras.execute_values(cur, "INSERT INTO elements VALUES %s", dim_elements.itertuples(index=False))

    psycopg2.extras.execute_values(cur, "INSERT INTO items VALUES %s", dim_items.itertuples(index=False))

    psycopg2.extras.execute_values(cur, "INSERT INTO fact_crops VALUES %s", fact_crops_data.itertuples(index=False))

    psycopg2.extras.execute_values(cur, "INSERT INTO fact_trade VALUES %s", fact_trade_data.itertuples(index=False))

except: 
    conn.rollback()

end = time.time()

print("elapsed time: ", end - start)

# Delete chrono temporary variables
del start, end

In [156]:
cur.execute("SELECT * FROM countries;")
for row in cur.fetchall():
    print(row)

# Delete temporary value
del row

(2, 'Afghanistan')
(3, 'Albania')
(4, 'Algeria')
(7, 'Angola')
(8, 'Antigua and Barbuda')
(9, 'Argentina')
(1, 'Armenia')
(10, 'Australia')
(11, 'Austria')
(52, 'Azerbaijan')
(12, 'Bahamas')
(13, 'Bahrain')
(16, 'Bangladesh')
(14, 'Barbados')
(57, 'Belarus')
(255, 'Belgium')
(15, 'Belgium-Luxembourg')
(23, 'Belize')
(53, 'Benin')
(18, 'Bhutan')
(19, 'Bolivia (Plurinational State of)')
(80, 'Bosnia and Herzegovina')
(20, 'Botswana')
(21, 'Brazil')
(26, 'Brunei Darussalam')
(27, 'Bulgaria')
(233, 'Burkina Faso')
(29, 'Burundi')
(35, 'Cabo Verde')
(115, 'Cambodia')
(32, 'Cameroon')
(33, 'Canada')
(37, 'Central African Republic')
(39, 'Chad')
(40, 'Chile')
(351, 'China')
(96, 'China, Hong Kong SAR')
(128, 'China, Macao SAR')
(41, 'China, mainland')
(214, 'China, Taiwan Province of')
(44, 'Colombia')
(45, 'Comoros')
(46, 'Congo')
(47, 'Cook Islands')
(48, 'Costa Rica')
(107, "Côte d'Ivoire")
(98, 'Croatia')
(49, 'Cuba')
(50, 'Cyprus')
(167, 'Czechia')
(51, 'Czechoslovakia')
(116, "Democratic People's Republic of Korea")
(250, 'Democratic Republic of the Congo')
(54, 'Denmark')
(72, 'Djibouti')
(55, 'Dominica')
(56, 'Dominican Republic')
(58, 'Ecuador')
(59, 'Egypt')
(60, 'El Salvador')
(61, 'Equatorial Guinea')
(178, 'Eritrea')
(63, 'Estonia')
(209, 'Eswatini')
(238, 'Ethiopia')
(62, 'Ethiopia PDR')
(64, 'Faroe Islands')
(66, 'Fiji')
(67, 'Finland')
(68, 'France')
(69, 'French Guyana')
(70, 'French Polynesia')
(74, 'Gabon')
(75, 'Gambia')
(73, 'Georgia')
(79, 'Germany')
(81, 'Ghana')
(84, 'Greece')
(86, 'Grenada')
(87, 'Guadeloupe')
(89, 'Guatemala')
(90, 'Guinea')
(175, 'Guinea-Bissau')
(91, 'Guyana')
(93, 'Haiti')
(95, 'Honduras')
(97, 'Hungary')
(99, 'Iceland')
(100, 'India')
(101, 'Indonesia')
(102, 'Iran (Islamic Republic of)')
(103, 'Iraq')
(104, 'Ireland')
(105, 'Israel')
(106, 'Italy')
(109, 'Jamaica')
(110, 'Japan')
(112, 'Jordan')
(108, 'Kazakhstan')
(114, 'Kenya')
(83, 'Kiribati')
(118, 'Kuwait')
(113, 'Kyrgyzstan')
(120, "Lao People's Democratic Republic")
(119, 'Latvia')
(121, 'Lebanon')
(122, 'Lesotho')
(123, 'Liberia')
(124, 'Libya')
(126, 'Lithuania')
(256, 'Luxembourg')
(129, 'Madagascar')
(130, 'Malawi')
(131, 'Malaysia')
(132, 'Maldives')
(133, 'Mali')
(134, 'Malta')
(127, 'Marshall Islands')
(135, 'Martinique')
(136, 'Mauritania')
(137, 'Mauritius')
(138, 'Mexico')
(145, 'Micronesia (Federated States of)')
(141, 'Mongolia')
(273, 'Montenegro')
(143, 'Morocco')
(144, 'Mozambique')
(28, 'Myanmar')
(147, 'Namibia')
(148, 'Nauru')
(149, 'Nepal')
(150, 'Netherlands')
(153, 'New Caledonia')
(156, 'New Zealand')
(157, 'Nicaragua')
(158, 'Niger')
(159, 'Nigeria')
(160, 'Niue')
(154, 'North Macedonia')
(162, 'Norway')
(221, 'Oman')
(165, 'Pakistan')
(299, 'Palestine')
(166, 'Panama')
(168, 'Papua New Guinea')
(169, 'Paraguay')
(170, 'Peru')
(171, 'Philippines')
(173, 'Poland')
(174, 'Portugal')
(177, 'Puerto Rico')
(179, 'Qatar')
(117, 'Republic of Korea')
(146, 'Republic of Moldova')
(182, 'Réunion')
(183, 'Romania')
(185, 'Russian Federation')
(184, 'Rwanda')
(188, 'Saint Kitts and Nevis')
(189, 'Saint Lucia')
(191, 'Saint Vincent and the Grenadines')
(244, 'Samoa')
(193, 'Sao Tome and Principe')
(194, 'Saudi Arabia')
(195, 'Senegal')
(272, 'Serbia')
(186, 'Serbia and Montenegro')
(196, 'Seychelles')
(197, 'Sierra Leone')
(200, 'Singapore')
(199, 'Slovakia')
(198, 'Slovenia')
(25, 'Solomon Islands')
(201, 'Somalia')
(202, 'South Africa')
(277, 'South Sudan')
(203, 'Spain')
(38, 'Sri Lanka')
(276, 'Sudan')
(206, 'Sudan (former)')
(207, 'Suriname')
(210, 'Sweden')
(211, 'Switzerland')
(212, 'Syrian Arab Republic')
(208, 'Tajikistan')
(216, 'Thailand')
(176, 'Timor-Leste')
(217, 'Togo')
(218, 'Tokelau')
(219, 'Tonga')
(220, 'Trinidad and Tobago')
(222, 'Tunisia')
(223, 'Turkey')
(213, 'Turkmenistan')
(227, 'Tuvalu')
(226, 'Uganda')
(230, 'Ukraine')
(225, 'United Arab Emirates')
(229, 'United Kingdom of Great Britain and Northern Ireland')
(215, 'United Republic of Tanzania')
(231, 'United States of America')
(234, 'Uruguay')
(228, 'USSR')
(235, 'Uzbekistan')
(155, 'Vanuatu')
(236, 'Venezuela (Bolivarian Republic of)')
(237, 'Viet Nam')
(249, 'Yemen')
(248, 'Yugoslav SFR')
(251, 'Zambia')
(181, 'Zimbabwe')
(5000, 'World')
(5100, 'Africa')
(5101, 'Eastern Africa')
(5102, 'Middle Africa')
(5103, 'Northern Africa')
(5104, 'Southern Africa')
(5105, 'Western Africa')
(5200, 'Americas')
(5203, 'Northern America')
(5204, 'Central America')
(5206, 'Caribbean')
(5207, 'South America')
(5300, 'Asia')
(5301, 'Central Asia')
(5302, 'Eastern Asia')
(5303, 'Southern Asia')
(5304, 'South-eastern Asia')
(5305, 'Western Asia')
(5400, 'Europe')
(5401, 'Eastern Europe')
(5402, 'Northern Europe')
(5403, 'Southern Europe')
(5404, 'Western Europe')
(5500, 'Oceania')
(5501, 'Australia and New Zealand')
(5502, 'Melanesia')
(5503, 'Micronesia')
(5504, 'Polynesia')
(5706, 'European Union (28)')
(5707, 'European Union (27)')
(5801, 'Least Developed Countries')
(5802, 'Land Locked Developing Countries')
(5803, 'Small Island Developing States')
(5815, 'Low Income Food Deficit Countries')
(5817, 'Net Food Importing Developing Countries')
(265, 'China (excluding intra-trade)')
(51000, 'Africa (excluding intra-trade)')
(51010, 'Eastern Africa (excluding intra-trade)')
(51020, 'Middle Africa (excluding intra-trade)')
(51030, 'Northern Africa (excluding intra-trade)')
(51040, 'Southern Africa (excluding intra-trade)')
(51050, 'Western Africa (excluding intra-trade)')
(52000, 'Americas (excluding intra-trade)')
(52030, 'Northern America (excluding intra-trade)')
(52040, 'Central America (excluding intra-trade)')
(52060, 'Caribbean (excluding intra-trade)')
(52070, 'South America (excluding intra-trade)')
(53000, 'Asia (excluding intra-trade)')
(53010, 'Central Asia (excluding intra-trade)')
(53020, 'Eastern Asia (excluding intra-trade)')
(53030, 'Southern Asia (excluding intra-trade)')
(53040, 'South-Eastern Asia (excluding intra-trade)')
(53050, 'Western Asia (excluding intra-trade)')
(54000, 'Europe (excluding intra-trade)')
(54010, 'Eastern Europe (excluding intra-trade)')
(54020, 'Northern Europe (excluding intra-trade)')
(54030, 'Southern Europe (excluding intra-trade)')
(54040, 'Western Europe (excluding intra-trade)')
(55000, 'Oceania (excluding intra-trade)')
(55010, 'Australia and New Zealand (excluding intra-trade)')
(55020, 'Melanesia (excluding intra-trade)')
(55030, 'Micronesia (excluding intra-trade)')
(55040, 'Polynesia (excluding intra-trade)')
(261, 'European Union (12) (excluding intra-trade)')
(266, 'European Union (15) (excluding intra-trade)')
(268, 'European Union (25) (excluding intra-trade)')
(57070, 'European Union (27) (excluding intra-trade)')
(57060, 'European Union (28) (excluding intra-trade)')
(58010, 'Least Developed Countries (excluding intra-trade)')
(58020, 'Land Locked Developing Countries (excluding intra-trade)')
(58030, 'Small Island Developing States (excluding intra-trade)')
(58150, 'Low Income Food Deficit Countries (excluding intra-trade)')
(58170, 'Net Food Importing Developing Countries (excluding intra-trade)')

In [125]:
cur.execute("""
    SELECT 
        column_name, data_type, character_maximum_length, column_default, is_nullable
    FROM 
        information_schema.columns
    WHERE 
        table_name = 'countries';
""")
for row in cur.fetchall():
    print(row)

# Delete temporary value
del row

('area_code', 'integer', None, None, 'NO')
('area', 'character varying', 100, None, 'YES')